@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

label {
  font-weight: bolder;
}

.redes {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formularios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-header {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem;
}

.Concluido-button input[type="submit"] {
  border: none;
  background-color: #5900ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  color: #f2f2f2;
}

.mensagem {
  font-weight: bolder;
}

.Concluido-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.Concluido-button input[type="submit"]:hover {
  background-color: #635c70;
  cursor: pointer;
}

.input-group {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1024px) {
    margin: 0;
  }
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box label {
  margin-bottom: -1rem;
}

.input-box input:hover {
  background-color: #eeeee7;
}

.input-box textarea {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  resize: none;
}

.input-box textarea:hover {
  background-color: #eeeee7;
}

.input-box input:focus-visible {
  outline: 1px solid #0000001c;
}

.input-box label h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.esquerdo {
  width: 37.5rem;
}

.direito {
  width: 37.5rem;
}

@media only screen and (max-device-width: 425px) {
  .esquerdo {
    width: 20.5rem;
  }

  .direito {
    width: 20.5rem;
  }
}