* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}

:root {
    --color-primary: #763df2;
    --color-black: #000;
    --color-white: #ffff;
}

header {
    background-color: #763DF2; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px 10px;

    
}


body {
    background: linear-gradient(98deg, #F2f2f2f2 0%, #F2f2f2 100%);
    padding: 0 1rem;
}

body {
    background: linear-gradient(98deg, #F2f2f2f2 0%, #F2f2f2f2 100%);
    padding: 0 1rem;
}

header

.courses-section
footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;


}

header img {
    display: block;
    margin: 1rem auto;

}

header nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;

}

nav a {
    color: var(--color-white);
    font-size: 1.04rem;
    padding: 0.8rem;
    text-decoration: none;
}

.button {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-white);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 2rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;  

}

.hero-section {
    padding-right: 0;
    padding-bottom: 16rem;

}

.hero-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%
}

h1 {
    font-size: 3rem;
    line-height: 99%;

}

h2 {
    font-size: 2.5rem;

}

.hero-section p {
    font-size: 1.25rem;
    padding-right: 1.25rem
}

.hero-section .button {
    position: relative;
    margin: 0;
}


.courses-section {
    padding-bottom: 8rem;
}

.mt-1 {
    margin-top: 2rem;
    text-align: center

}

.mt-2 {
    margin-top: 2rem;

}

.mb-1 {
    margin-bottom: 4rem;
    text-align: center
  
}

.mb-2 {
    margin-bottom: 1rem;

}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 40rem) {
    header nav {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 48rem) {
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    h2 {
        font-size: 4rem;

    }

    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 71rem;
    }

    .container.row-reverse {
        flex-direction: row-reverse;
        padding: 10px;
    }

    .about-column {
        flex: 2;
    }

    .about-column p {
        font-size: 1.25rem;
        max-width: 16rem;
    }

    footer nav {
        flex: 1;
    }

    .newsletter-form {
        flex: 3;
    }
}

@media screen and (min-width: 50rem) {
    .container {
        max-width: 84rem;
    }
}