:root {
	--roxo: #763DF2;
	--preto: #000;
	--branco: #fff;
	--cinza: #f2f2f2;
	--cinza-claro: #fafafa;
	--verde: #0e0;
	--verde-claro: #0f0;
	--verde-escuro: #0d0;
}
h2, h3 { font-family: "graphie bold", sans-serif; }
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0rem;
	background-color: var(--cinza);
}
.navbar {
	background-color: var(--roxo);
	max-height: 15%;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
#brand-logo { max-width: 30%; }

a { color: var(--branco); font-size: 80%; }
a:hover { color: var(--preto); }

h2, .functs { text-align: center; }

h2 { font-size: 170%; padding-top: 3%; }

#id-cad-startup { background-color: var(--cinza-claro); margin: 5%; }

#id-cad-startup, .col-md-5 { max-width: 90%; }

.form-row, .functs { justify-content: center; margin: 0.1%; }

.col-md-5 { margin: 3% 1% 2% 1%; }

input { margin-bottom: 2%; }

textarea { height: auto; margin-top: 1.5%; }

.setor { padding-left: 5%; }

.cadastros { margin: 1% 6% 1% 6%; width: 88%; }

button { margin: 10px; overflow: auto; }

.btn-all, #novo-fundador,
#novo-investidor, #nova-equipe { width: 100%; }

.btn-green { background-color: var(--verde); border-color: var(--verde-claro); }
.btn-green:hover { background-color: var(--verde-claro); border-color: var(--verde-escuro); }
