:root {
	--roxo: #763DF2;
	--branca: #fff;
	--cinza: #f2f2f2;
	--cinza-claro: #fafafa;
	--verde: #0e0;
	--verde-claro: #0f0;
	--verde-escuro: #0d0;
}
h1, h2, h3, title {	font-family: "graphie bold", sans-serif; }
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0rem;
	background-color: var(--cinza);
}
.navbar {
	background-color: var(--roxo);
	flex-wrap: nowrap;
	max-height: 10%;
	max-width: 100%;
}
#brand-logo { width: 8em; }

#item-home { height: 1.7em; }

a { color: var(--branca); font-size: 80%; }

h2 { text-align: center; font-size: 170%; padding-top: 3%; }

#id-cad-startup { top: 15%; background-color: var(--cinza-claro); margin: 5%; }

#id-cad-startup, .col-md-5 { max-width: 90%; }

.form-row { justify-content: center; margin: 0%; }

.col-md-5 { margin: 3% 1% 3% 1%; }

textarea { margin-top: 1%; }

.setor { padding-left: 5%; }

button { margin: 10px; overflow: hidden;  }

.fundador, #btn-fundador { margin: 0% 5% 1% 5%; width: 85%; }

.btn-primary { background-color: var(--verde); border-color: var(--verde); }

.btn-primary:hover { background-color: var(--verde-claro); border-color: var(--verde-escuro); }
