@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 80px;
    color: #ffffff;
    text-align: center;
}

h2{
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

p {
    font-size: 22px;
    color: #ffffff;
    margin: 40px  40px ;
    text-align: center;
}

.lab {
    color: #20F087; 
}

.logo {
    width: 160px;
    height: auto;
}

.MainTitle {
    z-index: 2;
}

/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #763DF2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #000000;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 35%;
    height: 3px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#Personas-Main {
    padding: 40px 80px;
    background-image:  url("img/capa.webp");
    background-position: top 30% right 0px;
    background-size: cover;
    height: 90.3vh;
    width: 100%;
    display: flex;
    justify-content: top;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
        z-index: 1; /* Certifique-se de que esta camada esteja sobre a imagem de fundo */
    }
}

#Personas-Box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}

#Personas-Box .Box-Personas {
    width: 346px;
    height: 540px;
    background-color: #763DF2;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #20F087;
    border-radius: 40px 0px 0px 0px;
    margin: 15px;
    position: relative;
}

#Personas-Box .title-1 {
    position: absolute;
    top: 15%; 
    left: 48%;
}

#Personas-Box .title-2 {
    position: absolute;
    top: 15%; 
    left: 48%;
}

#Personas-Box .title-3 {
    position: absolute;
    top: 15%; 
    left: 35%;
}

#Personas-Box .title-4 {
    position: absolute;
    top: 15%; 
    left: 43%;
}

#Personas-Box .Box-Icons {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 17px;
    flex-shrink: 0; 
    background-color: #ffffff;
    position: absolute;
    top: 7%; 
    left: 7%;
}

#Personas-Box .Box-Icons img {
    margin: auto;
}

#Personas-Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Over-Side {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%; 
    left: 0%;
}

#Over-Side p {
    text-align: justify;
    line-height: 100%;
}

#Over-Side button {
    font-size: 18px;
    color: #000000;
    text-align: center;
    position: absolute;
    margin-top: 90%;
    background-color: #20F087;
    width: 250px;
    height: 40px;
    border: 1px solid #20F087;
    border-radius: 10px 10px 10px 10px;
}

#Over-Side button:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  } 