:root {
	--branco: #fff;
	--cinza: #f2f2f2;
	--cinza-claro: #fafafa;
	--ciano: #0a8;
	--laranja: #F25C05;
	--roxo: #763DF2;
	--roxo-diferente: #5f1feb;
	--roxo-texto: #5932EA;
}
h3 { font-family: "Graphie bold", sans-serif; }
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0rem;
	background-color: var(--cinza);
}
.navbar {
	background-color: var(--roxo);
	max-height: 15%;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
#brand-logo { max-width: 10rem; }

#boas-vindas { margin-left: 10px; font-size: 23px; }

a { color: var(--branco); font-size: 80%; }
a:hover { color: var(--preto) }

.cad-startup { background-color: var(--cinza-claro); margin: 5%; }

.row { margin-top: 1rem; }

.topo { align-items: center; margin: 0% 0% 2% 4%; }

#img-tomorrow { height: 3.5rem; }

#tomorrow-space, #img-tomorrow { width: 4rem; }

#texto-roxo { color: var(--roxo-texto); }
#texto-ciano { color: var(--ciano); }

h6 { color: var(--laranja); font-size: 150%; padding-top: 1%; font-weight: bolder; }

.form-row { justify-content: space-evenly; }

.direito { padding-left: 5%; }

.direito, .functs { text-align: center; margin: 1%; }

.functs, h5 { margin-bottom: 3rem; margin-top: 0.5rem; }

.form-control:focus { box-shadow: 0 0 5px rgba(118, 61, 242, 0.7); border-color: rgba(118, 61, 242, 0.7); }

input, textarea, .cadastros { margin: 1.5% 0% 2% 0%; resize: none; }

.setor { padding: 3% 0% 6% 1.2rem; }

.cadastros { width: 85%; }

button { margin: 10px; overflow: auto; }
.btn-all, #novo-fundador,
#novo-investidor, #nova-equipe { width: 100%; }

.btn-roxo { background-color: var(--roxo); color: var(--branco);}
.btn-roxo:hover { background-color: var(--roxo-diferente); cursor: pointer; }
